body {
    width: 1440px;
    height: 720px;
    background-color: #1C1C1C;
    margin: 0px auto;
}

.header {
    width: 148px;
    height: 28px;
    margin: 0px auto;
    margin-top: 80px;
}

.search__form {
    display: grid;
    justify-content: center;
}

.search__form_scroll {
    position: fixed;
    justify-content: normal;
    top: 0px;
    width: 100%;
    left: 0px;
    z-index: 10;
}

.search__input {
    width: 628px;
    height: 74px;
    margin-top: 54px;
    padding-top: 18px;
    padding-bottom: 20px;
    padding-left: 119px;
    padding-right: 53px;
    background-color: #1C1C1C;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    border-radius: 2px;
    outline: none;
    caret-color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    font-size: 24px;
    color: #FFFFFF;
}

.search__form_scroll > .search__input {
    width: 100%;
    margin-top: 0px;
    background-color: rgba(28, 28, 28, 0.8);
    backdrop-filter: blur(4px);
}

.search__input::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.4);
}

.search__input:focus {
    width: 1280px;
    border-bottom: 2px solid #FDCE25;
    padding-left: 60px;
}

.search__form_scroll > .search__input:focus {
    width: 100%;
}

.search__input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    content: url("../images/svg/close.svg");
    cursor: pointer;
}

.search__input::-webkit-search-cancel-button:hover {
    content: url("../images/svg/close-hover.svg");
}

.search__tags {
    width: 628px;
    height: 88px;
    visibility: hidden;
    overflow: hidden;
}

.search__form_scroll > .search__tags {
    width: 100%;
    margin-left: 8px;
}

.search__input:focus + .search__tags {
    width: 1055px;
    visibility: visible;
}

.search__form_scroll > .search__input:focus + .search__tags {
    width: 100%;
}

.search__tags:before {
    position: absolute;
    content: url("../images/svg/search.svg");
    visibility: visible;
    padding-left: 71px;
    top: 182px;
}

.search__form_scroll > .search__tags:before {
    top: 20px;
}

.search__input:focus + .search__tags:before {
    padding-left: 8px;
}

.search__tag {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding: 6px 16px;
    margin-top: 8px;
    margin-right: 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    text-decoration: none;
}

.search__tag:hover {
    background-color: #FFFFFF;
}

.search__tags > .search__tag_more-history {
    display: none;
}

.search__form_more-history > .search__tags > .search__tag_more-history {
    display: inline-block;
}

.search__results {
    width: 1280px;
    margin: 0px auto;
    min-height: 349px;
    margin-top: 56px;
}

.search__form_scroll + .search__results {
    margin-top: 272px;
}

.search__heading {
    width: 604px;
    height: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    font-size: 36px;
    color: #FFFFFF;
}

.search__results_live > .search__heading_live {
    display: block;
}

.search__results_not-found > .search__heading_not-found {
    display: block;
}

.search__movies {
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(4, 302px);
    gap: 24px;
}

.search__movies_loading {
    grid-template-columns: 200px;
    justify-content: center;
}

.search__loading {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.search__loading:after {
    content: " ";
    display: block;
    width: 200px;
    height: 200px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #FDCE25;
    border-color: #FDCE25 transparent #FDCE25 transparent;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.search__results_live > .search__movies_live {
    display: grid;
}

.search__movie {
    width: 302px;
    height: 454px;
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 12px;
    cursor: pointer;
}

.search__movie-image {
    position: absolute;
}

.search__movie-wrap {
    width: 302px;
    height: 454px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 26.43%, rgba(0, 0, 0, 0.8) 72.41%);
    backdrop-filter: blur(2px);
    border-radius: 12px;
    position: absolute;
    visibility: hidden;
}

.search__movie:hover .search__movie-wrap {
    visibility: visible;
}

.search__movie-rating {
    width: 62px;
    height: 38px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    font-size: 24px;
    color: #FFFFFF;
    visibility: hidden;
    position: relative;
    margin-top: 280px;
    margin-left: 20px;
}

.search__movie:hover .search__movie-rating {
    visibility: visible;
}

.search__movie-name {
    width: 258px;
    height: 72px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 36px;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 4px;
    margin-left: 20px;
    visibility: hidden;
    position: relative;
}

.search__movie:hover .search__movie-name {
    visibility: visible;
}

.search__movie-no-image-name {
    width: 258px;
    height: 36px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 36px;
    font-size: 24px;
    margin-top: 362px;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.24);
}

.search__movie_empty-name {
    width: 246px;
    height: 24px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 2px;
    margin-top: 330px;
    margin-left: 20px;
}

.search__movie-genre {
    width: 168px;
    height: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
    visibility: hidden;
    position: relative;
    margin-top: 16px;
    margin-left: 20px;
    display: inline-block;
}

.search__movie:hover .search__movie-genre {
    visibility: visible;
}

.search__movie-no-image-genre {
    width: 168px;
    height: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    margin-top: 12px;
    margin-left: 20px;
    display: inline-block;
    color: rgba(255, 255, 255, 0.24);
}

.search__movie_empty-genre {
    width: 156px;
    height: 24px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 2px;
    margin-top: 8px;
    margin-left: 20px;
}

.search__movie-year {
    width: 48px;
    height: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    text-align: right;
    color: rgba(255, 255, 255, 0.4);
    visibility: hidden;
    position: relative;
    display: inline-block;
    margin-left: 46px;
    margin-top: 16px;
}

.search__movie:hover .search__movie-year {
    visibility: visible;
}

.search__movie-no-image-year {
    width: 48px;
    height: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    text-align: right;
    display: inline-block;
    margin-left: 46px;
    margin-top: 12px;
    color: rgba(255, 255, 255, 0.24);
}

.footer {
    margin-top: 80px;
    height: 15px;
    margin-bottom: 16px;
    text-align: center;
}

.footer__heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
}
